/* Home.css */
.home-page {
  background-color: #0a0a0a; /* same as bg-zinc-950 */
  min-height: 100vh;
  width: 100%;
}

.home-page {
  /* Ensures background stays even if content scrolls */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
